<nav class="top-nav red darken-4">
    <div class="container">
        <div class="nav-wrapper"><a class="page-title"><h3 class="title">Vehículos</h3></a></div>
    </div>
</nav>

<section>
    <div class="row">
        <div class="col s12 m4" ng-repeat="car in HomeCtrl.cars">
            <div class="card">
                <div class="card-image">
                    <img src="http://localhost:8000/public/jeeps/Jeep-Wrangler_Unlimited.jpg">
                </div>
                <span class="card-title">{{car.make + ' ' + car.model}}</span>
                <div class="card-content">
                    <p>{{car.color}}</p>
                    <p>{{car.price}}</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>
</section>